<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <div class="container mt-3 mb-2">
      <div class="row">
        <div class="col-12 text-center">
          <h1>My Book</h1>
        </div>
      </div>
    </div>
    <div class="container mb-2">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="card mt-3">
            <div class="card-header bg-dark text-white text-center"><%= book.title %></div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"><%= book.author %> - <%= book.year %></p>
            </div>
            <div class="card-footer">
              <div class="row align-items-center clearfix">
                <div class="col float-left ml-2">
                  <a class="btn btn-outline-info" href="/book/edit/<%= book._id %>">Edit</a>
                </div>
                <div class="col-2 float-right">
                  <a href="/book/delete/<%= book._id %>">
                    <i class="fa fa-remove"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>
